* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #636363;
  line-height: 1.6;
  font-weight: 400;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  max-width: 1199px;
  margin: auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header__content nav {
  display: flex;
  align-items: center;
}

.header__content a {
  text-decoration: none;
  color: black;
}

.header__content nav a:hover {
  color: #f55f8d;
}

.header__content nav a {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  color: #070120;
  transition: all .5s;
}

.header__content nav a:hover span {
  display: inline-block;
  animation: upToDown 0.3s;
}

.header__content nav a i {
  font-size: 9px;
  margin-bottom: 3px;
  vertical-align: middle;
}

.header__content .iii {
  margin-right: 40px;
}

.header__content .button:hover {
  background-position: right center;
}

.header__content .button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 30px;
  border: 1px solid transparent;
  color: #fff;
  transition: all .5s;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

/* end header */
.section1 {
  background-image: url(../img/pic2.png);
  padding-top: 180px;
  overflow: hidden;
  background-position: top;
  background-size: 100%;
}

.container__content {
  display: flex;
  align-items: center;
}

.content__left {
  width: 60%;
}

.content__right {
  width: 40%;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.left__top p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.left__top h2 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #262626;
}

.left__bot p {
  font-size: 18px;
  margin-bottom: 15px;
}

.left__bot ul {
  margin-bottom: 20px;
}

.left__bot li {
  font-size: 20px;
  padding: 10px 5px 10px 0;
  list-style: none;
}

.left__bot i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.button1 {
  padding: 20px 38px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 30px;
  border: 1px solid transparent;
  color: #fff;
  transition: all .5s;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2;
}

.button1:hover {
  background-position: right center;
}

.right1 {
  width: 570px;
  margin-left: 50px;
}

.right1 img {
  max-width: 100%;
  display: block;
}

/* end  section*/
.sevice {
  text-align: center;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  padding-top: 115px;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #262626;
}

.sevice__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.sevice__content .sevice__item:hover {
  transform: translateY(-20px);
}

.sevice__content .sevice__item {
  padding: 30px 45px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  transition: all .5s;
  transform: translateY(0);
}

.sevice__content .sevice__item img {
  width: 215px;
}

.sevice__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 0;
  color: #262626;
}

/* end sevice */
.aboutUs {
  background-image: url(../img/bg15.png);
  background-position: center right;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  padding-top: 115px;
  overflow: hidden;
}

.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs__right {
  width: 50%;
}

.aboutUs__right .title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 15px;
}

.aboutUs__right li {
  list-style: none;
}

.aboutUs__right p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.aboutUs__right ul {
  margin-bottom: 30px;
}

.aboutUs__right i {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: #f55f8d;
}

/* end about */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__content {
  display: flex;
  justify-content: space-around;

}

.number__item {
  width: 25%;
}

.number__item i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 45px;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  margin-top: -20px;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
  line-height: 1;
  margin-top: -15px;
}

.number__item span {
  color: #f55f8d;
  font-weight: 800;
  font-size: 65px;
  display: inline-block;
}

/* end number */

.features {
  background-image: url(../img/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  padding-top: 115px;
  padding-bottom: 0;
}

.features__content {
  display: flex;
}

.features__left {
  width: 50%;
}

.features__right {
  width: 50%;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__it {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  position: relative;
  overflow: hidden;
}

.features__it:hover::after {
  opacity: 1;

}

.features__it:hover p,
.features__it:hover h3,
.features__it:hover i {
  color: #fff;
}

.features__it::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;

}

.features__it i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: all 1s;
}

.features__it div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__item h3 {
  color: #262626;
  font-weight: 800;
  font-size: 1.5rem;
  transition: all 1s;
}

.features__it p {
  z-index: 1;
  transition: all 1s;
}

.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.features__banner {
  margin-right: -80px;
}

.features__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px)
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px)
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px)
  }
}

/* end feature */

.port {
  background-image: url(../img/bg17.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding-top: 115px;
}

.port__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.port__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.port__item:hover .port__overlay {
  opacity: 1;
}

.port__item:hover .port__icon {
  transform: translate(0);
}

.port__item:hover .port__text {
  transform: translate(0);
}

.port__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.port__item:hover::before {
  left: 125%;
}

.port__item1 {
  grid-column: 1/span 2;
}

.port__item5 {
  grid-column: 1/span 2;
}

.port__item6 {
  grid-column: 3/4;
  grid-row: 2/4;

}

.port__item img {
  width: 100%;
  height: 100%;
}

.port__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: all .75s;
}

.port__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;

  transition: all .75s;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  color: #fff;
}

.port__icon a {
  cursor: pointer;
}

.port__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all .75s;
}

.port__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.port__text p {
  opacity: .7;
  color: #fff;
}

/* /end port */
.plan {
  background-image: url(../img/bg16.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 115px;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.plan__item {
  padding: 35px 60px;
  border-radius: 8px;
  border: 3px solid transparent;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all .5s;
}

.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}

.plan__item img {
  width: 125px;
}

.plan__item p {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}

.plan__item span {
  font-size: 50px;
  font-weight: 800;
  color: #f8ae56;
}

.plan__item ul {
  border-top: 1px solid #e1e1f0;
  padding: 15px 0;
  text-align: left;
}

.plan__item li {
  list-style: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}

.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: 15px;
  border-radius: 100%;
  color: #f55f8d;
  background-color: #feeff3;
}

/* end plan */
.test {
  background-image: url(../img/bg17.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 115px;
}

.test__content {
  min-height: 300px;
}

.test__thumb {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide {
  position: relative;
  height: 100%;
}

.testimonial-pic {
  position: relative;
}

.test__thumb::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.test__thumb::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.test__thumb::before,
.test__thumb::after {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

/* .testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
} */

/* .testimonial-pic::after {
  height: 10px;
  width: 10x;
  bottom: 0;
  opacity: 0;
  chi 1 cai la opaci 1 th

} */

.swiper-slide-thumb-active .testimonial-pic::before {
  content: "";
  border-radius: 50px;
  background-color: #f55f8d;
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 15px;
  height: 15px;
  transform: translateX(-50%);

}



.swiper-slide-thumb-active .shape-bx::after {
  content: "";
  border-radius: 50px;
  background-color: #f55f8d;
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  bottom: -65px;
  transform: translateX(-50%);

}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 21px;
  bottom: 18px;
  background-color: #f55f8d;
  transition: all 1s;
  opacity: 1;
}



.swiper-slide-thumb-active .testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
  /* opacity: 0; */
}



.test__thumb .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.test__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.test__comment .swiper-wrapper {
  padding-bottom: 20px;
}

.test__thumb .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.test__thumb .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px 15px;
  font-style: italic;

}

.testimonial-position {
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px 15px;
  font-style: italic;
  margin-bottom: 20px;
  color: #f55f8d;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}



/* end test */
.blog {
  background-image: url(../img/bg16.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 115px;
}

.owl-carousel {
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-stage {
  display: flex;
  width: 3688px;
}

.owl-stage .owl-item {
  /* width: 379.667px; */
  margin-right: 30px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, .1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__item img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.blog__header p {
  padding: 10px 20px;
  font-size: 14px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, .05);
  text-transform: uppercase;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

.owl-nav,
.owl-dots {
  display: none;
}

/* end blog */
footer {
  display: block;
  background-image: url(../img/bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  background-size: contain;

  position: relative;

  font-size: 15px;
  background-color: #fff;
  height: auto;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aaa {
  background-color: #0e1b1f;
}

.footer__top {
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px 60px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}

.top__text,
.top__form {
  width: 50%;
}

.top__text h2 {
  font-size: 28px;
  color: #262626;
  font-weight: bold;
}

.top__form form {
  display: flex;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
}

.top__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  border-radius: .5rem 0 0 .5rem;
  border: 1px solid #fff;
  flex: 1 1 auto;
  outline: 0;
  transition: all .5s;
}

.top__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 0 .5rem .5rem 0;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.top__form button:hover {
  background-position: right center;
}

.top__form button:hover i {
  animation: toLeftFromRight .5s forwards;
  display: inline-block;
}

.top__form i {
  color: #fff;
}

.footer__bot {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}

/* .footer__item i {
  color: black;
  font-size: 16px;

} */

a {
  text-decoration: none;
}

.footer__item li {
  padding: 0.5rem 0;
}

.footer__contact li {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.footer__contact span {
  color: #fff;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  color: #fff;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 20px;
  height: 4px;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

li {
  list-style: none;
}

.copy {
  padding: 10px 0;
  position: relative;
  background-color: #1f343b;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.copy__left {
  color: white;
}

.copy__left span {
  color: #f55f8d;
}

.copy__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, .1);
  font-size: 14px;
  transition: all .5s;
  color: #fff;

}

.copy__right i {
  color: #fff;
}




@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%)
  }

  50% {
    opacity: 0;
    transform: translateX(-100%)
  }

  51% {
    opacity: 1
  }
}

/* end footer */

.backTotop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  background: #f55f8d;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}

.backTotop i {
  color: #fff;
}